div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
}

table input {
    width:100%;
    table-layout:auto
}

td {
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;
    border-right: 2px solid
}

table td.shrink {
    white-space:nowrap
}

table td.extend {
    min-width:150px
}

.scoring_table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5
}

.inline_table {
    display: inline-block;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 10px;
}
