<!doctype html>
<html>
    <head>
      <title>MotoCana Finals</title>
        <link rel="stylesheet" href="/app/static/styles.css" />
    </head>
    <body onload="runOnLoad()">
        <div style="font-size: large;">Scoring:
            <a href="/" style="margin-right: 5px;">Home</a>
            <a href="/scoring">Results</a>
            {% if current_user.is_anonymous %}
                <a href="/login" style="float: right;">Login</a>
                <a href="/help" style="float: right; margin-right: 10px;">Help</a>
            {% else %}
                <a href="/logout" style="float: right; margin-right: 5px;">Logout</a>
                <a href="/help" style="float: right; margin-right: 10px;">Help</a>
                {% if current_user.role == 'admin' %}
                    <a href="/reset_pw" style="float: right; margin-right: 10px;">Reset Password</a>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div id="loading"></div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">// <![CDATA[
            function loading(){
                $("#loading").show();
                $("#submit-button").hide();
            }
    // ]]></script>

    {% block extra_scripts %}{% endblock %}
</html>
