{% extends "base.html" %}

{% block content %}
<h1>Results</h1>
{{ front }}
{{ back }}
{{ total }}
{{ team }}
{{ best_gross }}
{{ champ_match_table }}
{% endblock %}

{% block extra_scripts %}
    <script>
        function runOnLoad() {
          var front_table = document.getElementById("front-nine").createCaption();
          front_table.innerHTML = "<b>Front Nine</b>";

          var back_table = document.getElementById("back-nine").createCaption();
          back_table.innerHTML = "<b>Back Nine</b>";

          var total_table = document.getElementById("total-net").createCaption();
          total_table.innerHTML = "<b>Total Net</b>";

          var team_table = document.getElementById("team-net").createCaption();
          team_table.innerHTML = "<b>Best of the Worst</b>";

          var gross_best_table = document.getElementById("best-gross").createCaption();
          gross_best_table.innerHTML = "<b>Team Best Gross</b>";

          var champ_table = document.getElementById("champ-match").createCaption();
          champ_table.innerHTML = "<b>Championship Match (Gross Scores)</b>";
        }
    </script>
{% endblock %}
